:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #232830;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --very-large: 2rem;
  --large: 1.9rem;
  --medium: 1.7rem;
  --short: 1.6rem;
  --very-short: 1.4rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Quicksand", sans-serif;
  width: 100%;
  background: var(--white);
}

nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 5px -3px rgba(0, 0, 0, 0.2);
}
.navbar-list {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 130px;
}
nav ul li {
  display: flex;
  align-items: center;
  list-style: none;
}

/* Navbar styles in desktop */
.categories-list {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-left: 32px;
  font-size: var(--medium);
}
.categories-list li a {
  padding: 8px 12px;
  border: 1px solid transparent;
  border-radius: 10px;
  color: var(--very-light-pink);
  text-decoration: none;
}

/* Active category style*/
.categories-list li a:hover {
  border-color: var(--hospital-green);
  color: var(--hospital-green);
}
/*  */

.navbar__left,
.navbar__right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__right a {
  color: var(--dark);
  font-size: var(--very-short);
  text-decoration: none;
}

.menu-account {
  display: none;
  margin-right: 24px;
}
.menu-account span:nth-child(1) {
  padding-right: 4px;
}
.down-arrow {
  width: 8px;
  height: 8px;
  content: url("../images/flechita.svg");
  transform: rotate(90deg);
}
.shopping-icon {
  width: 27px;
  height: 28px;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  position: relative;
}
.cards-container {
  --card-size: 140px;
  width: 100%;
  min-width: 320px;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card-size));
  place-content: center;
  gap: 16px 24px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.card {
  width: --card-size;
}
.card__image-container {
  display: inline-block;
  position: relative;
  width: --card-size;
  height: --card-size;
  margin-bottom: 8px;
  cursor: pointer;
}
.card__image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.center-text {
  display: inline-block;
  width: calc(var(--card-size) - 30px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4px 16px;
  border-radius: 10px;
  background: rgba(255, 237, 237, 0.794);
  color: var(--dark);
  font-size: var(--short);
  font-weight: bold;
  text-align: center;
}

.card__additional {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__info {
  display: flex;
  flex-direction: column;
  font-size: var(--very-short);
}
.card__price {
  color: var(--dark);
  font-weight: bold;
}
.card__name {
  color: grey;
  font-weight: 500;
}
.card__shopping-icon {
  width: 32px;
  height: 32px;
}

/* Hover states */
.card__shopping-icon:hover {
  cursor: pointer;
}
.menu-account:hover {
  cursor: pointer;
}

/* Product detail */
.product-detail {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 60px);
  position: absolute;
  right: 0;
  background: #fff;
  box-shadow: -1px -1px 5px -3px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.icon-close-container {
  display: none;
  place-items: center;
  width: 41px;
  height: 41px;
  padding: 8px;
  position: absolute;
  top: 20px;
  left: 12px;
  border-radius: 50%;
  background: var(--white);
  cursor: pointer;
}
.icon-close {
  width: 14px;
}

.product-image-container {
  width: 100%;
  height: 400px;
  position: relative;
}
.product__image {
  width: inherit;
  height: inherit;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  object-fit: cover;
}

.points {
  display: flex;
  justify-content: center;
  margin: 16px 0 24px;
}
.points li {
  width: 8px;
  height: 8px;
  margin-right: 8px;
  border-radius: 50%;
  background: var(--very-light-pink);
  list-style: none;
}
.points .active {
  background: grey;
}

.product-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  font-size: var(--large);
}
.product-info__price {
  margin-bottom: 4px;
  color: var(--dark);
  font-weight: bold;
}
.product-info__name {
  margin-bottom: 20px;
  color: grey;
  font-weight: 500;
}
.product-info__description {
  color: rgb(140, 140, 140);
  font-size: var(--short);
  line-height: 2rem;
}

.button {
  display: inline-block;
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-size: var(--large);
  font-weight: 500;
  text-decoration: none;
}
.button__primary {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  background: var(--hospital-green);
  color: var(--white);
  font-weight: bold;
}
.button__primary .shopping-icon {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin-right: 4px;
}
/* Hover states */
.button:hover {
  background: rgba(172, 217, 178, 0.8);
}
.button:hover .shopping-icon circle:nth-child(1) {
  fill: transparent;
}

/* Product detail in tablet and desktop css */
@media screen and (min-width: 680px) {
  .product-detail {
    max-width: 420px;
    margin: 0 0 0 auto;
    box-shadow: -1px -1px 5px -3px rgba(0, 0, 0, 0.2);
    overflow: none;
  }

  .icon-close-container {
    display: grid;
  }
  .product-image-container {
    height: 380px;
  }
  .product-info {
    padding: 0 24px;
  }
}
/* End Product detail */

/* SHOPPING CART */

.cart-container {
  width: 100%;
  max-width: 450px;
  display: grid;
  place-items: center;
  position: absolute;
  right: 0;
  margin: 0 auto;
  background: #fff;
  box-shadow: -1px -1px 5px -3px rgba(0, 0, 0, 0.2);
  overflow-y: hidden;
  z-index: 1;
}

.title {
  width: 100%;
  min-width: 300px;
  max-width: 450px;
  display: flex;
  align-items: center;
  margin: 40px 0 20px;
  padding: 0 20px;
  font-size: var(--large);
  text-align: start;
}
.left-arrow {
  content: url("../images/flechita.svg");
  transform: rotate(180deg);
  width: 12px;
  margin-right: 28px;
  cursor: pointer;
}

.orders-container {
  width: 100%;
  min-width: 300px;
  max-width: 450px;
}

.order {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 12px 16px;
}
.remove-order {
  grid-template-columns: auto 1fr auto;
  background: var(--text-input-field);
  opacity: 0.5;
}

.order figure {
  width: 90px;
  height: 90px;
}

.order__image {
  width: inherit;
  height: inherit;
  border-radius: 25px;
  object-fit: cover;
}

.order__name {
  text-align: start;
}

.info {
  color: grey;
  font-size: var(--medium);
  font-weight: 500;
}
.price {
  color: var(--dark);
  font-size: var(--large);
  font-weight: bold;
}
.close-icon {
  content: url("../images/icon_close.png");
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.removed-text {
  display: flex;
  align-items: center;
  margin-left: 16px;
  color: var(--very-light-pink);
  font-size: var(--large);
  font-weight: 500;
  text-align: center;
}

.general-info {
  width: calc(100% - 32px);
  min-width: 300px;
  max-width: 450px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 32px;
  padding: 0 20px;
  border-radius: 10px;
  background: var(--text-input-field);
  font-size: var(--large);
  font-weight: bold;
  color: var(--black);
  text-decoration: none;
}
.general-info__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--black);
}

.button {
  display: inline-block;
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-size: var(--large);
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
.button__primary {
  width: calc(100% - 32px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  background: var(--hospital-green);
  color: var(--white);
  font-weight: bold;
}

/* Hover states */
.button:hover {
  background: rgba(172, 217, 178, 0.8);
}

@media screen and (min-width: 680px) {
  .cart-container {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    height: 100%;
    margin: auto 0 auto auto;
  }
  .title {
    margin-top: 24px;
  }
  .left-arrow {
    content: url("../images/left-arrow.svg");
    width: 32px;
    height: 32px;
    transform: none;
  }
  .order figure {
    width: 80px;
    height: 80px;
  }
  .order__name {
    font-size: var(--short);
  }
  .order__price {
    font-size: var(--medium);
  }
  .removed-text {
    justify-content: center;
    margin: 0;
  }
  .close-icon {
    margin-left: 16px;
  }
  .general-info {
    margin-top: 72px;
  }
}

/* END SHOPPING CART */

.hidden {
  display: none;
}

@media screen and (max-width: 340px) {
  .cards-container {
    --card-size: 200px;
    grid-template-columns: repeat(auto-fill, var(--card-size));
  }
  .center-text {
    padding: 4px 36px;
  }
}

@media screen and (min-width: 600px) {
  .cards-container {
    --card-size: 240px;
    grid-template-columns: repeat(auto-fill, var(--card-size));
    gap: 24px;
    padding: 0 20px;
  }
  .card__info {
    font-size: var(--short);
  }
  .card__shopping-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.2);
  }
  .center-text {
    padding: 4px 36px;
    font-size: var(--very-large);
  }
}

/* NavBar mobile to desktop styles */
@media screen and (min-width: 1024px) {
  .logo {
    width: 150px;
  }
  .menu-mobile {
    display: none;
  }
  .categories-list {
    display: flex;
  }
  .menu-account {
    display: block;
  }

  .navbar__left {
    order: 1;
  }
  .navbar__right {
    order: 2;
  }
}
@media screen and (min-width: 1280px) {
  .categories-list {
    margin-left: 52px;
  }
  .categories-list li a {
    padding: 8px 16px;
  }
}
