:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #232830;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --large: 1.9rem;
  --medium: 1.7rem;
  --short: 1.6rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Quicksand", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: var(--white);
}

.login {
  width: 100%;
  min-width: 300px;
  max-width: 370px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  position: relative;
}

.logo {
  margin-bottom: 40px;
}
.logo__img {
  width: 220px;
}

.login__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.login__label {
  margin-bottom: 8px;
  font-size: var(--medium);
  font-weight: bolder;
}
.login__input {
  height: 45px;
  margin-bottom: 24px;
  padding: 0 12px;
  border: none;
  border-radius: 10px;
  background: var(--text-input-field);
  color: var(--very-light-pink);
  font-size: var(--medium);
  font-weight: 300;
  outline: none;
}
.button {
  width: 100%;
  height: 60px;
  margin: 4px 0 16px;
  border: none;
  border-radius: 10px;
  font-size: var(--large);
  font-weight: 500;
}
.login__button {
  background: var(--hospital-green);
  color: var(--white);
}
.button__secondary {
  width: calc(100% - 24px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  margin: 0;
  border: 2px solid var(--hospital-green);
  background: var(--white);
  color: var(--hospital-green);
}

a {
  text-decoration: none;
}
.login__link {
  margin-top: 16px;
  color: var(--hospital-green);
  font-size: var(--short);
}

/* Hover states */
.login__button:hover {
  cursor: pointer;
  background: rgba(172, 217, 178, 0.8);
}
.button__secondary:hover {
  cursor: pointer;
  border-color: transparent;
  background: rgba(172, 217, 178, 0.8);
  color: var(--white);
}

.login__link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .button__secondary {
    width: 100%;
    position: static;
    margin-top: 52px;
  }
}

@media screen and (max-height: 568px) {
  .button__secondary:hover {
    text-decoration: underline;
  }
}
