:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #232830;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --hyper-large: 2.6rem;
  --super-large: 2.4rem;
  --very-large: 2rem;
  --large: 1.9rem;
  --medium: 1.7rem;
  --short: 1.6rem;
  --very-short: 1.4rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Quicksand", sans-serif;
  width: 100%;
  background: var(--white);
}

nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 5px -3px rgba(0, 0, 0, 0.2);
}
.navbar-list {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 130px;
}
nav ul li {
  display: flex;
  align-items: center;
  list-style: none;
}

/* Navbar styles in desktop */
.categories-list {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-left: 32px;
  font-size: var(--medium);
}
.categories-list li a {
  padding: 8px 12px;
  border: 1px solid transparent;
  border-radius: 10px;
  color: var(--very-light-pink);
  text-decoration: none;
}

/* Active category style*/
.categories-list li a:hover {
  border-color: var(--hospital-green);
  color: var(--hospital-green);
}
/*  */

.navbar__left,
.navbar__right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__right a {
  color: var(--dark);
  font-size: var(--very-short);
  text-decoration: none;
}

.menu-account {
  display: none;
  margin-right: 24px;
}
.menu-account span:nth-child(1) {
  padding-right: 4px;
}
.down-arrow {
  width: 8px;
  height: 8px;
  content: url("../images/flechita.svg");
  transform: rotate(90deg);
}
.shopping-icon {
  width: 27px;
  height: 28px;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.product-detail {
  width: 100%;
  height: calc(100vh - 60px);
  box-shadow: -1px -1px 5px -3px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.icon-close-container {
  display: none;
  place-items: center;
  width: 41px;
  height: 41px;
  padding: 8px;
  position: absolute;
  top: 20px;
  left: 12px;
  border-radius: 50%;
  background: var(--white);
  cursor: pointer;
}
.icon-close {
  width: 14px;
}

.product-image-container {
  width: 100%;
  height: 400px;
  position: relative;
}
.product__image {
  width: inherit;
  height: inherit;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  object-fit: cover;
}

.points {
  display: flex;
  justify-content: center;
  margin: 16px 0 24px;
}
.points li {
  width: 8px;
  height: 8px;
  margin-right: 8px;
  border-radius: 50%;
  background: var(--very-light-pink);
  list-style: none;
}
.points .active {
  background: grey;
}

.product-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  font-size: var(--large);
}
.product-info__price {
  margin-bottom: 4px;
  color: var(--dark);
  font-weight: bold;
}
.product-info__name {
  margin-bottom: 20px;
  color: grey;
  font-weight: 500;
}
.product-info__description {
  color: rgb(140, 140, 140);
  font-size: var(--short);
  line-height: 2rem;
}

.button {
  display: inline-block;
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-size: var(--large);
  font-weight: 500;
  text-decoration: none;
}
.button__primary {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  background: var(--hospital-green);
  color: var(--white);
  font-weight: bold;
}
.button__primary .shopping-icon {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin-right: 4px;
}
/* Hover states */
.button:hover {
  background: rgba(172, 217, 178, 0.8);
}
.button:hover .shopping-icon circle:nth-child(1) {
  fill: transparent;
}

/* Product detail in tablet and desktop css */
@media screen and (min-width: 680px) {
  .product-detail {
    max-width: 420px;
    height: calc(100vh - 60px);
    margin: 0 0 0 auto;
    box-shadow: -1px -1px 5px -3px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
  }
  .product-detail::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
  }
  /* background of the scrollbar except button or resizer */
  .product-detail::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .product-detail::-webkit-scrollbar-track:hover {
    background-color: #f4f4f4;
  }
  /* scrollbar itself */
  .product-detail::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border: 2px solid #fff;
    border-top: none;
    border-radius: 4px;
  }
  .product-detail::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
  }

  .icon-close-container {
    display: grid;
  }
  .product-image-container {
    height: 380px;
  }
  .product-info {
    padding: 0 24px;
  }
}
/* NavBar mobile to desktop styles */
@media screen and (min-width: 1024px) {
  .logo {
    width: 150px;
  }
  .menu-mobile {
    display: none;
  }
  .categories-list {
    display: flex;
  }
  .menu-account {
    display: block;
  }

  .navbar__left {
    order: 1;
  }
  .navbar__right {
    order: 2;
  }
}
@media screen and (min-width: 1280px) {
  .categories-list {
    margin-left: 52px;
  }
  .categories-list li a {
    padding: 8px 16px;
  }
}
